/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0f0f0f;
}

/*Fontes*/

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.merriweather-sans-bold{
  font-family: "Merriweather Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

header{
    background: radial-gradient(circle at 50% -20.71%, #ffff7b 0, #fffd61 16.67%, #ffe340 33.33%, #ffc500 50%, #eda700 66.67%, #e08d00 83.33%, #d77700 100%);
    padding: 0px 10%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
    position: sticky;
    top: 0; /*Para deixar a header grudada no topo.*/
}

.nav{
    display: flex;
    flex-direction: row; /* Deixar tudo implementado na nav em linha.*/
    justify-content: flex-start;
    align-items: center;
}

.navBar ul{
    list-style-type: none; /*Tirar as pontuações do lado da li.*/
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navBar a{
    text-decoration: none;
    padding: 15px;
    display: block;
    font-size: 25px;
    font-family: "Bebas Neue", sans-serif;
    color: #0f0f0f;
}

.srcBar{
    background: #fff;
    height: 35px;
    border-radius: 2px;
    display: flex;
    margin-left: auto;
}

.srcBar input{
    margin-left: 10px;
    border: none;
    outline: none;
}

.srcBar button{
    background: transparent;
    border: none;
}

@media (max-width: 860px){
    header{
        padding: 0; /*Padding tirada da header para não ficar estranho pequeno ou mobile.*/
    }

    .hide, .sqr{
        display: none;
    }

    .btn button{
        color: whitesmoke;
        cursor: pointer;
        position: absolute;
        display: flex !important; /*Todos que tiverem com importante não é para remover*/
        justify-content: center;
        align-items: center;
        background: transparent;
        border: none;
        top: 0;
        padding: 2%;
        transform: scale(1.2);
    }

    .hrz{
        display: flex !important;
        align-items: center;
        box-sizing: content-box;
        padding-left: 35%; /*Único jeito de conseguir centralizar a logo, se tiver uma maneira melhor, por favor, atualizar*/
    }

    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: #ffd51c59;
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.24);
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    
    .sidebar li{
        width: 100%;
    }
    
    .sidebar a{
        width: 100%;
    }

    .nav a:hover{
        background-color: #3089ce;
    }

    .srcBar{ /*Foi configurada aqui, pois sem os li não tem margem ou configuração para ele*/
        display: flex;
        margin: 10px;
        margin-left: auto;
    }    
}

.destaque{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 10px;
    margin-left: 30px;
}

.slideContainer{
    max-width: 1204px; /*Tamanho da largura do container das imagens*/
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 50px;
}

.banner{
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 1240px; /*Tamanho da largura da imagem*/
}

.imagem{
    width: 1240px; /*Também tamanho da largura da imagem*/
    flex-shrink: 0;
    object-fit: cover;
    height: 600px; /*Tamanho da altura do container E da imagem*/
    border-radius: 10px;
}

#preSld{
    border: none;
    background: #323638;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 19%;
    border-radius: 5px;
    margin-top: 5px;
    padding: 2px 10px 2px 5px;
}

#nxtSld{
    border: none;
    background: #323638;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 17%;
    border-radius: 5px;
    margin-top: 5px;
    padding: 2px 5px 2px 10px;
}

#preSld img, #nxtSld img{
    width: 20px;
}

main{
    padding: 0px 10%;
}

.conteudo{
    margin-top: 5%;
    padding-top: 2%;
    background-color: rgb(27, 27, 27);
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.barContainer{
    border-radius: 15px;
    width: 95%;
    background-image: radial-gradient(circle at 50.54% 56.2%, #ffbc2a 0, #ffaf27 12.5%, #ff9e20 25%, #ff8813 37.5%, #ff6c00 50%, #f44d00 62.5%, #ec2a00 75%, #e7000d 87.5%, #e5001a 100%);
}

.conteudo h2{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    position: relative;
    font-size: 1.8em;
    width: 98%;
    border-radius: 10px;
}

.carouselContainer, .carouselContainer2{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40vh; /*Altura do container*/
}

.carousel, .carousel2{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    margin-left: 40px; /*margin left e right pra ficar rente com o slideshow*/
    margin-right: 20px;
}

.cartaz, .cartaz2{
    transition: transform 0.5s ease-in-out;
    max-width: 1210px;
    display: flex;
    gap: 5px; /*gap só funciona aqui, não funciona na img*/
}

.cartaz img, .cartaz2 img{
    width: 240px;
    height: 360px;
    border-radius: 10px;
}

#preCrsl, #nxtCrsl, #preCrsl2, #nxtCrsl2{
    transform: scale(0.1);
    cursor: pointer;
    position: relative;
    display: flex;
    width: 5vw; /*Deixar o botão perto da imagem*/
    border: none;
    background: transparent;
}

@media (max-width: 860px){
    .banner{
        width: 300px;
    }
    
    .imagem{
        width: 300px;
        height: 200px;
    }

    #preSld, #nxtSld{
        display: none;
    }
}

.fin{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.fin ul{
    list-style-type: none;
    display: block;
    margin-bottom: auto;
    align-items: center;
    padding: 20px;
}

.fin li{
    padding: 5px;
}

.fin h3{
    color: whitesmoke;
    font-size: 1.4em;
    font-family: "Bebas Neue", sans-serif;
}

.fin a{
    text-decoration: none;
    font-family: "Merriweather Sans", sans-serif;
    color: aliceblue;
    font-size: 0.9em;
}

.fin a:hover{
    text-decoration: underline;
}

.imagens{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.imagens img{
    width: 14em;
}

footer{
    width: 100%;
    padding: 0px 10%;
    bottom: 0;
    background-color: #0f0f0f;
    color: aliceblue;
    font-family: "Merriweather Sans", sans-serif;
}

.direitos{
    font-size: 13px;
    padding: 30px 15px 30px 15px;
    border-top: 1px #404040 solid;
}

.membros{
    border-top: 1px #404040 solid;
    display: flex;
    padding: 30px 15px 30px 15px;
    justify-content: space-between;
    font-size: 13px;
    a{
        color: aliceblue;
        text-decoration: none;
        margin-left: 20px;
        margin-right: 5px;
    }
    a:hover{
        text-decoration: underline;
        color: aliceblue;
    }
}

.membros ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 860px){
    .imagens{
        display: none;
    }

    .membros ul{
        display: grid;
    }
}